@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("style/fonts/NotoSansKR-Light.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Light.woff") format('woff'),
  url("style/fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url("style/fonts/NotoSansKR-Regular.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Regular.woff") format('woff'),
  url("style/fonts/NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url("style/fonts/NotoSansKR-Medium.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Medium.woff") format('woff'),
  url("style/fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("style/fonts/NotoSansKR-Bold.woff2") format('woff2'),
  url("style/fonts/NotoSansKR-Bold.woff") format('woff'),
  url("style/fonts/NotoSansKR-Bold.otf") format('truetype')
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('style/fonts/GmarketSansMedium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('style/fonts/GmarketSansLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('style/fonts/GmarketSansBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}